* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

#fundo {
   position: absolute;
   width: 100%;
}

header {
    background-color: rgba(207, 207, 207, 0.692);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    padding: 10px;
}

header .logo img{
    height: 60px;
    width: 200px;
    padding: 10px;
}

.redes-sociais ul li {
    display:inline-block;
    padding: 5px;
}

footer {
    background-color: rgb(26, 26, 26);
    color: #dedede;
    text-align: center;
    margin-top: 800px;
    width: 100%;
    height: 90px;
    position: absolute;
    padding: 20px;
}

footer p {
    font-size: 24px;
}

footer a {
    color: #dedede;
    text-decoration: none;
    padding: 4px;
}

footer a:hover {
    text-decoration: underline;
}
